@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');



body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #0c0c16;
}

.enquiry-section{
    margin-top: 68px;
    background-color: purple;
    padding: 60px 0;
    text-align: center;
    border: 5px solid #F59E0B;
    border-radius: 0 0 60px 60px ;
    box-shadow: 0 24px 60px rgba(222, 142, 4, 0.9);
}

.enquiry-section h2 {
    color: #ffffff;
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 0.9rem;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.enquiry-section p {
    color: #e3daff;
    font-size:1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 0.4em;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);

}
.contact{
    padding: 2.5rem;
    background-color: #06060a;
}

.contact .row {
    border: 5px solid #F59E0B;
    border-radius: 60px 60px ;
    box-shadow: 0 24px 60px rgba(222, 142, 4, 0.9);
    overflow: hidden;
}

